<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="logo mercado libre" id="logo">
        <form method="get" action="" id="form">
            <input class="entrada" type="search" name="q" placeholder="Buscar productos">
            <button type="submit" id="buscar"><i class="fas fa-search" ></i></button>
        </form>
        <div class="div1"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</div>
        <nav>
            <ul>
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a></li>
                <li>
                    <a href="">Ayuda</a>  
                </li>
                <li id="br"></li>
                <li>
                    <a href="registro">Crea tu cuenta</a>
                    <i class="far fa-address-card"></i>
                </li>
                <li>
                    <a href="login">Ingresa</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <img src="images/img-home-banner.jpg" alt="banner mercado libre" width="100%">
        <h2 class="titulo">Basado en tu ultima visita</h2>
        <section>
            <div class="articulo">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$6.770</p>
                <p class="oferta">40% OFF</p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$230.00</p>
                <p class="oferta">20% OFF</p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div class="articulo">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$70.500</p>
                <p class="oferta">10% OFF</p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div class="articulo">
                <img src="images/img-tv-samsung-smart.jpg" alt="tv samsung" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$23.200</p>
                <p class="oferta">5% OFF</p>
                </div>
                <h4>SmarTV Samsung 43</h4>
            </div>
        </section>
        <h2 class="titulo">Ofertas</h2>
        <section>
            <div class="articulo">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$6.770</p>
                <p class="oferta">40% OFF</p>
                </div>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$230.00</p>
                <p class="oferta">20% OFF</p>
                </div>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div class="articulo">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$70.500</p>
                <p class="oferta">10% OFF</p>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div class="articulo">
                <img src="images/img-tv-samsung-smart.jpg" alt="tv samsung" width="100%">
                <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a;"></i></div>
                <p class="precio">$23.200</p>
                <p class="oferta">5% OFF</p>
                </div>
                <h4>SmarTV Samsung 43</h4>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <div class="item">
                <div><i class="fas fa-credit-card icon" ></i></div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés <br> con tarjeta o efectivo en
                puntos de pago. <br> ¡Y siempre es seguro!
                </p>
            </div>
            <div class="item">
                <div><i class="fas fa-gift icon"></i></div>
                <h3>Envio gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de 
                 productos. <br> Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="item">
                <div><i class="fas fa-user-shield icon"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer, 
                porque <br> estás siempre protegid@.
                </p>
            </div>
            </div>
            <p id="p1">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>